*{
	margin: 0;
    padding: : 0;
}

body{
	font-size: 10px;
	background: white;
}

nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 10px;
}

nav ul li{
	margin: 0 20px;
}

.main-text{
	font-size: 250%;
	font-weight:700;
	color: blue;
}

.nav-link{
	font-size: 1.8em;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.nav-link:hover{
	color: blue;
}

#bio{
	align-items: center;
	display: flex;
}

#home{
	color: white;
	background: black;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header div p{
	font-size: 2.5em;
	font-weight: 200;
}


.link-button, #but{
	text-align: center;
	text-decoration: none;
	background: blue;
	cursor: pointer;
	font-weight: 200;
	letter-spacing: 0.5px;
	color: white;
	font-size: 1.8em;
	padding: 10px;
	border-radius: 5%;
	border-color: black;
}

.link-button:hover{
	color: white;
}

#bio img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin:100px;
}

#bio article *{
	margin: 20px;
}

p{
	font-size: 1.5em;
}

hr{
	width: 400px;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 4em;
}

h3{
	font-size: 2.5em;
}

h4{
	font-size: 1.8em;
}

#portfolio{
	color: white;
	background-color: black;
}

#portfolio, #skills{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

#skills ul{
	list-style: none;
}

#portfolio div{
	display: flex;
	margin: 10px 0;
	justify-content: space-around;
	width: 100%;
}

#portfolio h2, hr, p{
	margin-bottom: 20px;
}

#portfolio div article{
	background: white;
	color: black;
	height: 200px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-radius: 10px;
}

#portfolio div article p{
	padding: 0 5px;
}

progress[value]{
	height: 10px;
	width: 350px;
	~webkit-appearance: none;
}


progress[value]::~webkit-progress-bar{
	background-color: grey;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25 inset);
}

::~webkit-progress-value{
	background-color: blue;
}

#skills ul{
	font-size: 1.5em;
}

#contact{
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 40px 0;
}

#contact form{
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
}

.input{
	line-height: 2em;
	width: 350px;
	border-radius: 3px;
	border-color: black;
	margin: 3px 0;
}